.navbar
{
    background-color:#1a73e8;
    height:48px;
    align-items: center;
    left: 0;
    right: 0;
    z-index: 999;
    position: fixed;
    box-shadow: 0 3px 4px 0 rgba(0,0,0,.2), 0 3px 3px -2px rgba(0,0,0,.14), 0 1px 8px 0 rgba(0,0,0,.12);
}
body{
    cursor: pointer;
    background: rgb(0 0 0 / 8%)!important;
}
.drop-down{
display: none;
    transition: all .5s ease;
}
.drop-down li:hover 
{
    background-color: #a4c5f37a;
    color: #3367d6;
}
.drop-down li{
    font-size: 14px;
    line-height: 18px;
    font-weight: 400;
    color: #212121;
    padding: 11px 12px;
    border-bottom: 1px solid #eaeaea;
}
.pos-logo
{
    display: flex;
    justify-content: space-around;
    width: 15%;
}

.drop-down
{
    -webkit-box-shadow: 0 1px 6px rgba(0,0,0,.15);
	-moz-box-shadow: 0 1px 6px rgba(0,0,0,.15);
	box-shadow: 0 1px 6px rgba(0,0,0,.15);
	-webkit-transition: all .1s ease-out;
	-moz-transition: all .1s ease-out;
	-ms-transition: all .1s ease-out;
	-o-transition: all .1s ease-out;
	transition: all .1s ease-out;
}
.drop-down li span{
    color: #1d73e8;
    margin-right: 9px;
}

.profile-img
{
    width: 30px;
}

.router-sidebar
{
    width: 20%;
    padding-top: 50px;
    height: 1000px;
    box-shadow: 0 3px 4px 0 rgba(0,0,0,.2), 0 3px 3px -2px rgba(0,0,0,.14), 0 1px 8px 0 rgba(0,0,0,.12);
}
.pos-nav
{
    left: 0;
    right: 0;
    top: 49px;
}
.nav-menu-items
{
    margin-top: 0px;
}
body{
    margin: 0px;
}

.nav-menu
{
    background:#263238;
    width: 250px;
    height: 100vh;
    display: flex;
    justify-content: center;
    position: fixed;
    left: -100%;
    transition: 850ms;
}
.nav-menu.active
{
  left: 0;
  transition: 350ms;
  top: 70px;
}
.nav-text
{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 8px 0px 8px 0px;
    list-style: none;
    height: 60px;
}

.nav-text a{
    font-size: 18px;
    width: 100%;
    height: 100%;
    align-items: center;
    padding: 0 16px;
    color: #fff!important;
}

.nav-text a:hover{
    background-color: #26a69a;
}
.nav-menu-items
{
    padding: 0;
}
body{
    margin: 0;
}
.side-nav-content:hover{
    background-color: #a4c5f37a;
    color: #3367d6;
    cursor: pointer;
}
.navbar-icon
{
    color:#1d73e8!important;
    margin-left: 16px;
    margin-right: 15px;
}
.side-nav-content:hover .navbar-icon{
    color: #3367d6!important;
}
.navbar-toggle
{
    justify-content: start;
    align-items: center;
    line-height: 31px;
   
}

.side-nav-content
{
    padding:10px;
     color:#343a40;
      font-weight:500;
}
.MuiAppBar-colorPrimary
{
    background-color:#1c255d!important
}
.MuiToolbar-regular
{
    min-height: 60px!important;
}

.MuiListItemIcon-root
{
    min-width:33px!important
}
.router-link
{
    color: #000!important;
    text-decoration: none!important;
}
.MuiList-padding
{
    margin-top: 58px!important;
}

@media only screen and (max-width: 1000px) {
    .MuiDrawer-docked
    {
        display: none;
    }
    .searchbar
    {
        display: none!important;
    }
}