.makeStyles-root-11
{
    width: 100%!important;
}
.breadcrumbs
{
    padding: 0px 12px!important;
    margin-top: 0px!important;
}
.MuiBreadcrumbs-ol
{
    padding: 17px!important;
}
.breadcrumbs1
{
    display: flex;
    align-items: baseline;
    justify-content: space-around;
    margin-top: 13px!important;
}
.breadcrumbs1> button
{
    text-transform: capitalize;
}
.breadcrumbs1> button:nth-of-type(3) {
    background:#1c255d!important;
    color: #ffff;
  }
  .status> tr:nth-of-type(2)
  {
    background:#1c255d!important;

  }
  .Breadcrumbs-head
  {
    margin-top: 14px!important;
      padding: 16px!important;
      background-color: #1c255d00!important;
      box-shadow: 0px 2px 4px -1px rgba(0,0,0,0.2), 0px 4px 5px 0px rgba(0,0,0,0.14), 0px 1px 10px 0px rgba(0,0,0,0.12)!important;
  }
  .MuiAppBar-positionStatic> .MuiTabs-root, .MuiTab-root
  {
      min-height: 0px!important;
  }
 
  .olderpo-select
  {
      width: 113px!important;
  }
  .olderpo-select> .MuiOutlinedInput-input
  {
      padding: 5px 5px!important;
  }
  .createpo-head
  {
      padding: 19px!important;
  }
  .createpo-input
  {
      margin-top: 5px!important;
  }
 .createpo-head Formcontrol
 {
     margin-top: 5px;
 }
 .billing-address
 {
     padding: 8px;
 }
 .po-details-heading
 {
    padding: 21px!important;
    font-weight: 600!important;
    border-bottom: 1px solid rgb(236, 236, 236);
    color: #676262!important;
 }
  .createpo-head label
  {
       font-size: 14px!important;
    font-weight: 500;
    color: #000;
  }
  .MuiOutlinedInput-inputMarginDense  {
      padding-top: 5px!important;
      padding-bottom: 5px!important;
  }
  .create-po-table> .MuiTableCell-head
  {
      font-size: 15px!important;
      font-weight: 600!important;
      border: 1px solid #ddddddcf ;
  }
  .create-po-table-total> td:nth-child(odd)
  {
     font-size: 15px!important;
     font-weight: 600!important;
  }
  .createpo-addtax
  {
      margin-left: 15px!important;
  }

  /* orderdetails */
  .orderdetails-table th{
      font-size: 15px;
      font-weight: 600;
  }

  .orderdetails-table1> td:nth-child(odd)
  {
    color: rgb(32 126 254)!important;

  }
  .hr-line
  {
    border-top: 1px solid #f1f1f1a6;
    margin-bottom: 16px;
  }
.product-table-button
{
    width:30%;
    justify-content:space-between;
}
.product-table-button1
{
    width: 60%;
}
.product-table-button2
{
    width: 10%;
}
.MuiAutocomplete-inputRoot[class*="MuiOutlinedInput-root"][class*="MuiOutlinedInput-marginDense"]
{
    padding: 0px!important;
}
.table-border> td
{
   border: 1px solid #dddddd91;
}
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
  }

  @media only screen and (max-width: 1000px) {
   .breadcrumbs> .MuiTypography-body1{
       font-size: 13px!important;
   }
   .product-table-button
{
    width:80%;
}
.product-table-button1
{
    width: 27%;
}
.product-table-button2
{
    width: 20%;
}
}